@import "tailwindcss";

.barra::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #182a3b;
    border-radius: 5px;
}

.barra::-webkit-scrollbar-thumb {
    background-color: #478bb3;
    border-radius: 4px;
}

.fondo {
    background-image: url("/images/fondo-modal.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
