@import "tailwindcss";

.main-background {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6)),
        url("/images/main-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fondo-login {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6)),
        url("/images/banner-login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.barra::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #182a3b;
    border-radius: 5px;
}

.barra::-webkit-scrollbar-thumb {
    background-color: #478bb3;
    border-radius: 4px;
}

.fondo {
    background-image: url("/images/fondo-modal.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo_card {
    background-image: url("/images/fondo_card.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.fondo_card2 {
    background-image: url("/images/fondo_card2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.fondo_card3 {
    background-image: url("/images/fondo_card3.svg");
    background-repeat: no-repeat;
    background-position: center;
}
